/* KPI */

.widget--logo-ebita .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96EXdHl13cxZYmqaj_J56-fl2gpYddLY881l8RTa37cTusTM063W2S3SDUP1GRh0c9C6mHkQ0DomeLzrhXzDoHmeDzD_WGKQC1It4zFdi3H0B4iGeG2sn_gQMYp7hCh6UqnTykVaJSDsTWQFaxVopmaXv-4IQ/ebita.svg);
}
  
  .widget--logo-digital-toplinje .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97tq5M6sZ938Es2j164m3eMKFejfCMzJYBUOY6I8SMoGF7jpnwsjlDAuORGhIfQ7x9w7XyGMYw6p5FLEXoGy1E5CphCHM9YZaaKtCPpui2PxhUkLssXX1w7IYlC7-EYGOUsIzAHVUF83IE2imxBoQde_Vyaiw/toplinje.svg);
  }
  
  .widget--logo-total-unique-users .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97smvMotwo6E3iXp0UNhFyUt3PG9JbCEdb_R26IOkBxlVO7IyZZ5U9eErr1xKeEitnztyRBMI0UwlrUcbAJAYL3nmv6CkPA61nXNVUwaTygDTZ9GkE6T9A20t-2s4DMxyX1R4z3VzNIBQ_hqdDEHa8bSLhRuw/unique-users.svg);
  }
  
  .widget--logo-mobil-brugeroplevelse .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97fOl-1pNX3OO3H10YJTO5wyazlKu7Ne5Su9QF-GM9SyOU50F-sJoDtiqb-9RIeVEfqCUblCwwv-VaZ8Ab9kYRFp1bospqunFpFOZhsfLjjcXU8N4P6513vlkhaD4DlI1tsa1FcLHjZbMjAE_YZxPh3I-mMCQ/brugeroplevelse.svg);
  }
  
  /* Knowledge and tools */
  
  .widget--icon-valuepaper .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv97cqWQZNpTpkOJUfb1rs6xw3biFX_ECwnKiSeGnzqWBDzm_QdgftCiqLGdrgc6O_vLMJdqYihHdjDOZitvP_hHpgTcYnlzDOTaemZYZMSjBU3hCfOe-JFhfBf0-HSGCVvnPOygP54I9bBv6nF3UJJQYHp5cbQ/valuepaper.svg);
  }
  
  .widget--icon-admission .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95IOeFc1cJkjG-SmFlXVnvqqZrRIYIstYYTJ9QlIdp1eAs7xd3tHK12DFLqScqILqlZHRxUg4sHqSdqV7mnpuYmpohQWj7hS2YEHr6-xVAEoIhTpBoYaohQ3ROIsfqit3aY3Sg7fwroI4Yq8eMm3B7ULbwtIg/adgangskort.svg);
  }
  
  .widget--icon-recruitment .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96h0l_0eOxgqr8u11Vdkcal4TkhHg_HscP5Ec8UYBqBfnFmgPlbhCCLr320jMZ-uP4t0vmuiZ22sRZvhi8oAcP_Ko9_FEIjagVAikVWIqoMsNTP53p1KmHjnlQBlKghlFSweQVNTL_xEwarTLZNqK2PudoYZw/ansaettelser.svg);
  }
  
  .widget--icon-work-enviroment .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv964QjC5aracoCBEO5co5PC9H3PGL4FxvO429bssTrbMEIF9gdj_hhBGH8JIW1T9VonPkcFVjpKwawLPi6M_4i-XT7zrS0wn-q4hUf09ON3PWcCmWZauOxOzh9AFuDf7-veWCizoUDGWTZAvHpsOnH8zcKE4FA/arbejdsmiljoe.svg);
  }
  
  .widget--icon-generel-it .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96GNqZ2kI9F3akxcjCyHIAg0fFByHLjhsJHAtpoum8llPhyMYVhNo1UjRqZvK7Bcw-XArPPM5zokq4jdh8DcAcg063Td-ziGdPU_PMU6Cd1GcibxjNNfJ2CCxMex0kUqTiubJkB5y8_OE5krx46pcTKqzAwZA/computer.svg);
  }
  
  .widget--icon-education .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97O1oaDz1hsTXKFuT2dbXdYYzGPDPZusmdCQqVpDPaEUtD77V1-V3jg9I2dTQmVX0L1WpCHyIxw6FOG8WQxg8_fqk04JUxPHilSCQy95IKSYTqgHQwqSn9OQEG6NnHeDcEk1c0kyM8Dwwi8gfAfpwqO3jDDww/efteruddannelse.svg);
  }
  
  .widget--icon-resignations .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95RxUulJP4nUK9ZEU3AAzIgXJhXs_LGQOLnlJnVEUHXE6Jhw_E-46HO6wXr7bdS22TOAXIBkLmoUhfKv4yKjDoGz2BB-1F0AZBiLV2Myew5jRNu2XkbeOhIBPj8wrIfBF8VIufhI6SJ9RZAKlVAKPsVtYUiCg/fratraedelser.svg);
  }
  
  .widget--icon-absence .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv9700dzURKIu577l4csmSmN_Lll3znQXxXvc5FrJ9FBE22ilugjxvPYKBs2P6w2czNoCuUuvFC8p0GT5dG_HHvL0KoJcjriGfYdDBIozHZBS7x65kvEmOwGpD7QkIzs-0CZ-UME_uybv_uhxclxCRkZ1eoszhA/fravaer.svg);
  }
  
  .widget--icon-house-rules .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96zRunDo2dadBQ82jDwzr8wOtmfERyMM_3zOPj_eBBx99aSJIlgVRJkiWTj36VVyGj2mFRP6EhNksLtT5_c5VQ7qsiJtlRBZq8oPnFjJmAqrod9ngLFdUH2y6UkIOhhLf8ev6DbEmX6gIkt8m74hGHSrmDVSg/husorden.svg);
  }
  
  .widget--icon-internal-service .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97zuDV9O2ejoo-2RUUxuzinlSMLSCReCTDWAoHhdowy2zHVXIiyAqVVd2F_LLTfGnpoihhXqY5rKhgNdUV67N5gUvZ0f3P268TgEJUSCBCGsPfJxpeyALEz6Ec1DtoM4_gqNklmF4fa9OOv2WFYE2nfcC32Vw/intern_service.svg);
  }
  
  .widget--icon-compensation .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95l70zOoFgT7Gnl0vJDxtvhoFFfqQHSW_u2kIP50yJ4o5yysY4ts93rNwF6ZB1GLse4A0_w5o9doaRQa2d3nCa5aRRr7wZgUJ31zBtbX5v_CElr224yRj1BXIZ_rLFqou5kZNu2HLC-4xsYo5Pie45Jd0hh7A/kompensation.svg);
  }
  
  .widget--icon-conference-hall .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94GZuUDvE8z6KSqq4ZSqe2eATyPY7p6WkJxfPxsaOzBjEpS9ejCp3UVfzQBw4FSlwimo9iR2dDG5wgFLiotjmAJwaiEQ4_EIItDALQK8cbNmCH8bni7v-defHyIfLFrBi0T3RDNXd-vuCN59gF-CFRvT_ft8Q/konferencesal.svg);
  }
  
  .widget--icon-new-employee .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv9735qDY68-grNsK6cOUIw0UjbXBedZcXNhBtY-GH6vjohVu-ORgngU-lZ7QY-uhNlbmBLE-PM1nMN2MtDzXKZJqV6fsUBdwxKM8N95SZTMO-Cz7d1z3YuVqzA6OySKTokpW7lylwifx9dRg1GfLK6tfnbt2dQ/ny_medarbejder.svg);
  }
  
  .widget--icon-meetingrooms .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96LkZQ07xkBSvFpNzb4KlNHI2MMcorC2a8qcIYqtGgrmHVfa0uPjUrazY8SN1YKx-DkMn6dZXHJ6TKEf-1AZRwWjJvsZ8Iy6rpt7iLH6OtIagIfP4Ofz6p5-W2kKTUIIqbgaS0njBAsLirjHs64qAFDf60cfw/oversigt_over_moedelokaler.svg);
  }
  
  .widget--icon-pension .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96jaKQoox4x1VSPadV7HiG484NVYNYkaO2szfP2ZpjulbVMSnPLukLzf51mlhjkheA25tVKVbK3-L-Zcj9wxfSr6HUoSae8-MY0YSBfYNSooViNuCTROrWONokUR1166qA1FeGQujurIwdBvJOY0pzIRf9NJw/pension.svg);
  }
  
  .widget--icon-printer .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96h8yg-33c-kkQACy3gzGDMb551Et3oLj94aHGjE26ut8jWRgB3pV4vmcwrKss6cZHqpdERfiq9z2ObcRebjPBo3UuVxBS9qcynoxcbfRXBvYvu_aG2fyT7KcF4XwOSaathe_MEPGYCpQQA9bdiBbSycvNXJw/printer.svg);
  }
  
  .widget--icon-reception .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97LzimFmnUUYjEfk5AvoJtL6mkHiMSZz0TtgQaZU_VGteQLlO209bOtKt4BpkDSMVsznBcnFPMV7hFnY7IaPB-XFQD5CPv4Bb4YC8j7-2C31GjxKL--XmUdvZ29zbBKY1nsKDgXlx9OEpfGYhw_WhjmU7t_Cg/reception.svg);
  }
  
  .widget--icon-travel-insurance .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96P8excrLNrR9HtDxowC3cX8P57oPf3X4NieyDzj1f4n4l-jRZb-UTIi7eg3lIkNn2SRyrE-4yp8N2UDzL5T7xReoOGYiC8CLRkwttc19h1rTeJtWfvQT1zJEapWuKtaaHjKw3GZGWlVLovJCqNdOabZvJKvg/rejseforsikring.svg);
  }
  
  .widget--icon-computer-glasses .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv955vac4yxU-DIFy3oLjVTLkF5dvv-US9ft8CmvceRTXUXy7Pv2tTINipRZAXzXO8g0699OrpYjjvZgHpV-tnPQ1Lj5eN-wNecuK2yKDLBlcg6OR5OVpxTArunM8_vsP0AvfjljAAvJ67rDAAwTtFS9fC6kQOg/skaermbriller.svg);
  }
  
  .widget--icon-status-conversation .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97BMPPNyIxRJNWblKPqFJuigU-WegVYW0W7HaN2G2d2AAELsXT8WN2C1TEgIVr-4wNyctUhL7-tRf-DQbvICMuJDeYpyz-Yp4OIWAvUqMEPmCh9TGM9ur3TwE1bMxsySQYhwcyx8elMFZzMFCpsrcI7eKiMbQ/statussamtaler.svg);
  }
  
  .widget--icon-health-insurance .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv945OzVbbpzXsurX8C1ydYcCTyFFKW8AG_Y_67SufAa3fv2mHHVVjcZyybS93O4io0rsXG5-2orUm7OU-XdEf8HySATzdV5tb27gbJKkCEsWsmamSTmHXotOTDs3-o2-tFG4NDlyupECR9ObIURR0MwXHxGgIQ/sundhedssikring.svg);
  }
  
  .widget--icon-videokonference .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94H2-a11wy1oQz1uKFEUWCOl07MQBFFD-c5N6KOQ8WRFmmjApN1Lw7WvzQZl9toRZaP6Q-rDAlCTAuXrF8AYno5UXp1vX4EWWtvBIRk_loTDLaE6_xxIoYXNjivfdXmqc1MNJY9pIdMRCU7CFBsZ4TaLa5i7Q/videokonference.svg);
  }
  
  .widget--icon-food .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv97CiUHX_8SIDCn1HUym6M_hvGuHbHwRXgWtu01zeQty7GwaqYlshfIQtUZcOnzBEq5C7FKDvadbZBsSVStby7YsDfJ0p-l9OtHsyvQhfg1d5d-Wu-KIMsyIMpjvZSEk1VtVxEN4UozlaFB5bxJG7m0f6KSUcQ/food.svg);
  }
  
  .widget--icon-external-user .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95gHsMxyOX4lmEhOkDCKP4MVb85Exq0YkuB8weVR8w9aJkazGV03wpYTGRzTJ8-vSAm2Blw0mBb1VHYTXCPp12cKiYU7fPEQJRBXJw4uxNjNy80h5Qk0zkpwEj4VPnqNpZwmTVqTGznIM70bl94L6nMzMMjJQ/ekstern-bruger.svg);
  }

  /* Arbejdsmiljø */

.widget--icon-good-work-environment .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96OIW_h2MeG3MLTrMz2zn-cFtBnpXY-Z3_fTxWPorURJBEhBg1QZaCPTkqQ37Dfdh3uJBhGTcvjTWznfwQX5WTNqVmpdPN2Iqje3hr7a4i1mHEhhbaVgWiKgvcAZGbEI6f0OCpblr4Y0aZDcZT7FSGRPaGCPA/icon_god_arbejdsmiljo.svg);
}

.widget--icon-guidlines-sexisme .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95fu9y4O_3oHpSOAKefvGP_ld-jilbW1emSAYPMriWyAbmsHxi2VRzsfKFvXVV-02u455Oyj1Fo9cgCiHWq2tpeiFN844mjpK_jksUlVzyYGesjW6QhIdVEpmyjoLN7x_uIeFgNax2d60073w77Co3WyjY3aQ/noun_sexisme_guidelines.svg);
}

.widget--icon-fysical-work .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96VoQt7M_N6ji7z0wlGRj3SASmvjSSAMMdmw8R_HmWQhBYhUwZg5K5nFjt77604ccZ0VnBFS70Ku7LuhGoKWW7tUtlmZn1iC-MRHnBnuUd6BQXwA4Pjf3tn50ITLjB88XxkFlDHW64MnrLYg6WliFXGuq4afw/noun_fysisk_arbejdsmiljo.svg);
}

.widget--icon-workplace-evaluation .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv97GlFzdkhOpxAJ6oUJxMQGl6auuMHV8auGX4f8VkV9RC_r7gNzylVBtr2gCwD7pcr3vO6T3RpnMjJV2cjavr72dRruEEHn2EpGpDjRt8x9plNqs22dkivFJvNJFmPH-h5KHi-h2FiQ2ewZP3PaiwpwkAr_0qg/noun_arbejdspladsvurdering.svg);
}

.widget--icon-work-enviroment-selection .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv940KqyM1Hw69ABSe3Lvik6WjfaEA6MDTGhYKXPJoV6eZvWZff7n3HE99QTNspOfswiGyT1fIzw7i3powOnRoD3P4duxe4kQa7mKLcltrFo7YqBPSauQ9noPSqXyYelIPS0zlB31GlF-sAkuFbaXAaUEmXKavg/noun_arbejdsmiljoudvalg.svg);
}
  
/* Absence */

  .widget--icon-time-off .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96nmKssGNqJtjlwqAFchH6XFVY94acedeCS9uIjJ7v843rfAOUU426g0NV6iCA60lEVXHexbM6tNEEXw_6J7WaU6iGL0TvdgSVN1HB80FeJ0vLTUftFPvQdrYxMWiqdfb85Y_CVZTDpBVRIu_a7Yos02vJSmw/afspadsering.svg);
  }
  
  .widget--icon-maternity .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97Oflhi6zu0ZlILmHsx8tFzMJIXQsLz2vd7v8AvxBMl7DTp4ZuiIrgP1Hw5gZSjwwmgP_NnSd64lEhAZZibhA5vPSQ4zBJ1VmH9jUc9OE3Vex3gXiGVfqKQjv7Q0Qw-KaX2HBsxE7LAli_4wwwIptVxX_mRzA/barsel.svg);
  }
  
  .widget--icon-holiday .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96tBTreqhvcZ-DZflBgEowv7cVDMMi2EXASs6y9eHtkgguRITBhXerlnXeNQxME7lZr0UCe3MjPh4LtHTS1e0upvO4Mh09cTr0EWUuApAxuqyf53yDwUrj67P7vZiHpeofntYlVEsQPgUie0KqvcIgQYd4x3A/ferie.svg);
  }
  
  .widget--icon-care-days .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94xsof3u3rErOZZGVQDJEA_CUeZIWXILb2hhrEyABSnER7w7oTengQj2HOx4uYmXeFen-VHNuFf9zAAMzfIuJZIrffZNWgfg7mCRwZbSHNJ1p5T2Kb-UYy80jm0OIXpUwpCsuIhnfQRMI5AugV8RbgxZhlbUg/omsorgsdage.svg);
  }
  
  .widget--icon-disease .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96QsJbnuBPDM3mdPsb9OcneEYKEcrMbWo6KLEGaqjXDEp5ZS-LGDsxA1Vj4mp72FlL4h2CDEya49Wc1-C7WbFKvgid6mRQrDXXtlSHwHkR0OywYrUHa8rzZknKlQEx3dliIXvw14xpKCeqB76FpTLlJG0_yYw/sygdom.svg);
  }
  
  /* Compensation */

  .widget--icon-bonus .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv950m6g1lBB86A-gJ_BhtRQQPmqN-XU6plGwvDKz5k1sc4Gy4_02d_pbOeCUqR5atUVe7nwHfUCQqDscY-r35vVNTkpBACXB3Pdiuj7sSNCTE8VhLZXqG1kKETTRu9BqbQuFNz1VKYEnDpNfm8EPTs2JH3ctqg/bonus.svg);
  }
  
  .widget--icon-cost-policy .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv965ALG5DrUdlpsfhAtWVLwgPGTyjwOunABp9bpvK0MbSCaIyVLdNBsg-6HHfgg7Dbtqrfs_oVfhLW8yo6LN-3LD6V607r6z3OPS6UesbFw-VqeRC6xYdFqskIBowv4aubyXDSu-QnpLWmSsXMQb4j3cU2yRNA/cost_policy.svg);
  }
  
  .widget--icon-extraordinary .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94oo29QKD6GS4SbROMf3jMxy293To3QaBVMyaofHwXfburScDzt-i1EzKo_ijVVLIM8Y_829BSUpuM_zLIRsOl_xW_0CeiGrCrGSNwkquB9ISXGqu4TjP3pD6atJMHD4PI-RQQCytzZT4RCLR0qg9RuzLDXrA/ekstraordinaer_loenregulering.svg);
  }
  
  .widget--icon-overtime .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95GN9tieQClz1B3_8EGAOUK2wzh5oCcX9HZudmez6oeJ5TkeRNuzy3a7kdSuD8OOaY5cjIPROvIuYX2BiiNn8OQ9633F0ypP7eX5f-UGkcYH5zjgZea9cDfq-dFBnOz-fEhW52qAifTA_3mCa8dF2zzdsA_sw/gener_og_forlaegning.svg);
  }
  
  .widget--icon-salary-adjustments .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95_UWj4KHUYXyKjGfpPfCxSl0GPpGNRfq6qWnQAUBg8f_3tdPoGlMX6y1nEh8ChhSQWQnvnazNvI6ASsSm52ItFbHyIqo2nCQ4JLDs84jBPoR7_qarAcf-sKuZJGwb04a6Nmz42sNjzbLMFCGKWGBSkYDSEJg/loenreguleringer.svg);
  }
  
  .widget--icon-time-drive-registration .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv943uhGazW2voAswBWmN9BAtbkc7Z1rLt1mSNbGGs36gmH6OwT5W2R58K5xsBX4MAuYx0FRMFfnhoCYDam7BRza3nrf2QCO68KSpa0uJjQ7EkYXZVOyiONwxvPWcL6SHBQRGDMGS3AXeeKja5EyAPkp29nxdqQ/time_og_koerselsregistrering.svg);
  }
  
  /* Compensation - overtime work */

  .widget--icon-overtime-other-employees .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv943HUT93-u0gXDU_8w8xUC8hcAyy4m6spg_ryzRTAi-TJ2zKb7HZ9ba8N4HfDumhg5v9TSuHuByQHHCAzBrM_qeAtzbGmi_9_pGIvVpuIi9Q87eiw71Dgo6-jzPGL-cPjXKkSNCKZ4rVZQF6gjHKjczJVBgow/forlaegning_og_overarbejde_for_HKere.svg);
  }
  
  .widget--icon-overtime-journalist .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95ZiYIg5EmkvYBEgPCjWDkojJEl-SaNOo3f307Y5q8Q43OZ4nAOEIMuib66Z1fhE_o9HbEVw2U6JfmpoKrWe6VivyKCB40Uuv3yY57LofTvBAqwobS5wIcaMoyi4P9SWq6yd35OA_VNSST3CjQOKSIyOMwvIg/redaktionelle_gener.svg);
  }
  
  /* Education */

  .widget--icon-digital-education .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94Fn1ij49mWNepXlHxTSyg-bgLYJGLND8tbrUUKoZhNMCHt6W6Yx0Eba128JHkD1nuzkLqCJBfagO4rKp88Qv4Q-kY7K7z2-gZ_c9Ns1jSHlNveRQ05yBVtGuDHiw6_c-YIQelzt_LjynC21gyoEv9Y2tWeYg/digital_efteruddannelse.svg);
  }
  
  .widget--icon-digital-education-editorial .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94Nw6HO_2GU99V43sb5E3bJfXCqBzAQ_X90H7pUxkANeXtlKoXlyqz6rqmQti-f8XtSowEvc2KXZ6dJqykheTXhPksUczJUvAPHuRStpLXXWNr1reLUK1k5Z8BjjtOj2C_m9Jj3kplH7yYG3VPxvJEk-2jZDQ/dj_efteruddannelse.svg);
  }
  
  .widget--icon-competence-fund .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97s0aHQJapVdSCs8vA-8Qq3k52qAz-gJ7GjCwaPHwoeDNhdl1OTudKsJwvD8f0T9OTrMTrAfbNjkocbhbZIL3esvRvWgJZm4kah_f7hzAc7Pxy96i7X6wb-l866GZEu_jRnaYW70p9d37dYGwMmtz3vQpmeOw/kompetencefonde.svg);
  }
  
  .widget--icon-pupils .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95XMeTTliWUU9U7PysuTX-7hGueE_vXGKlF7MjmICfXJQeLjf7aitf5FjxXybe65TChDjlQRI3Wb7xUeGkPo9tNRt_zPszH5CXZshVQn-KcS7lyW8hzU6uVy_AbiGuX9lsWqGlHdSoMuU6awyjB8Y0a7tQBlA/elever.svg);
  }
  
  .widget--icon-journalism-interns .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96LWs9O4meenJWg8CoBAeT4duWGOcmtsnNAsnFlNbfdR8kR8wb8IZbFANtjCt8qWNqmqoeuxObBVPwd2gB-EwRLnpJus4-4BL9bwFojDQgpY_hNU-62Alxxb4BOxXAsCpLoWd-eYOLnNa5d0N2ouHHj70mJ7g/journalistpraktikanter.svg);
  }
  
  .widget--icon-school-interns .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96iE_g3BURC-VdjD6t8-t0pdz0Dj_il_RtNRcQyFGoyjuYKDyxtLzVvLYM80Z5qyBxXjdppDYV3XSmmnMl05AiK0dqOFogP2xsbFgz5SGp15Xn68xZcUtAtCXqWKKKDY5oAOGTDQmsKLnSJAt8nQpaRGup9Cg/skolepraktikanter.svg);
  }
  
  /* Education - Digital education editorial */

  .widget--icon-digital-education-editorial-me .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv970IuYwoWF60nxF5Da0-tCbCGomPrbwZYqkLi9m4WXFU960-YaALYwxWOdK8hxo_LbBy31u_NY2Jf6pU9rzj2J75SZK4vhNuqJevat8KD80vZMB9nflRxhhTcucnQgAxsqURcL2pHS-I2HGSqrsSaxB5axtEg/me_maerket_efteruddannelse.svg);
  }
  
  .widget--icon-digital-education-editorial-selfcomposed .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94spMAlGH00PycGGCTfZHeKyUHUeqBNqLIU2cAhy5LMwrUVZEivuTMLFW_bWhjKhB96eXkZN-QpwfU43fSE8GnFCZxOFtcqZYWM1ejOFGjWnmrUOMZA423SHoG2rQbyppEsn0BJ-PTwpNEp3_ksDe7Oa56pDQ/selvkomponeret_efteruddannelse.svg);
  }
  
  /* House rules */

  .widget--icon-bicycle-parking .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96AxihImDpXW3GoMPKnbcDKufXpG3Lxriv_uQjUjraATn2HdcPy_n4uYXjjuAHlpdfneakMKaeWiVWU9WOReF0eCDIxuq8xq9HiMhAjFoOTk4nLezOdTeY1n4iX8hIwUiACfLnpGLxwl6aFux03HJQHo3PP3A/cykelparkering.svg);
  }
  
  .widget--icon-cleaning .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95qn9Ea9i1eOtWd13ULLGSZ_ODVTpN10zcC9dlejLEW-PQIJ9LSGBQtXEYrYhapZQjuNYENZgyYY1KWfg8JcJcUwRXu10USxrxTp6jv36eMFzQoKv532iuphjUSt3_doqzb__OHi_L0o9YSJ1A_iC4AEfeGyQ/rengoering.svg);
  }
  
  .widget--icon-smoking .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95M1wqSDh5hZsSFVO0RsKWH87Rk5uWVE65-usAB3DABOuQStfyXd9cfec-gMowI2AiFisKIPmrOX_Tk3a2-jHWqbttd6ygkTmQACkW8DkRwxV8CgxJrXdgaZNxU-4-Nm4pl7nUJBj1WHWfa_W0dQbhvnArtNw/rygning.svg);
  }
  
  .widget--icon-rooftop .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97pYyijti2vlNUaCO3rohKxc0D2biwXR_7uGeQZGgPfYnN7l0Cce6NEkyRSHLJfq45i-hCBxaF4so55c6UHWN8vpw79aeQdkPotsVQK5uRQ2lRiPO7Vw0LAvW-SbOpMe9W65jQ2VNw-vygo77_co05Xmxe8KQ/tagterassen.svg);
  }
  
  /* IT */

  .widget--icon-google .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96qDc9-H_BAje8Zt4RN-Szg8i6zIuBXArffabczgFR58_ahalSez-WlEeoRd8P-OrjFMsOzR0PbKQ26dgCyw7tUGQY7XZ6g9eK-UBUOfmTbLLLei0h0qlxk5B4bb3D9qeWO9GN1JO7hdNgXExsWB9_wiEXWlg/google.svg);
  }
  
  .widget--icon-guest-wifi .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv953a0b2yYYpyX03Uvt9adpSVKsgkiLQY6xiextiip7PbniBU3PfVF9nQP-G4ThcoPrtsCF03MtkhnfUj8ejqaI3c7g-9CAxXMlyy9k23x1vxVi_R1NH2YKCYSJ1iLXMuyi5U0Xin1whSoajwabaEGkhBV0gmw/guestwifi.svg);
  }
  
  .widget--icon-newspaper .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96j0dlcddZtjrMDEnp1Bu3pqlr2F7_222DP6lRKtXSEehz3tkev3OZnh49jKIi6-A86TvuDVrFoMLVYIq1Lnkw6crOf05K9oAH18QT493lSiheY_x_3j3k0iA5zegctierEN-YtDUh4nIungixenPJnLFpebQ/newspaper.svg);
  }
  
  .widget--icon-smartphone .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96Z946lE_b9pyg7BM6sn0VKO6H_aClT_LnyZFCwkeYV92S_SVvybHBHJflcRqvob0dq9oFsHvDijPNXv_yYmOKWu2JspupmRxC6wqXpilNkwb6JoDWooAkxwXuYexfSAVmhveYSzi9rqeBw-q1RZ-IOjmW8YQ/smartphone.svg);
  }
  
  .widget--icon-vpn .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94bnDYToVAOhN_qj6Om5AQDk_My6hMlbjaKeWiYD6in28tqU-2U4NMr9jttC7d5ONNjaIcK4YEdEGNgZxFjrla-4lqQ2TRtaYcjxYccTqhA3FR5n6YZFT0dY6QMPImTUbjzoTqh42l-jFPk70rZhzGZYb8CrA/vpn.svg);
  }
  
  /* Recruitment */

  .widget--icon-permission-to-hire .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94GgjJZy-Q8qn23o5bydx1kAETbmW1K5pEDZ9P5ZI18xHDw0945nlQHOCmYhUriTlL4wjAKDpR2QvSs8FKYWizPIwzUru3Yb44e6vPoSuWo9CQPl4i9RP3GNFJH_H88sgkCu7z3Fnf8fmOAzvGWj7JKU0rysw/jobrekvisition.svg);
  }
  
  .widget--icon-employee-requisition-and-contract .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv9478HHMUjpvx4Zr1x8HtuwC_3pvR3t8QiiUvhwvHHnTpumrP5TUWlv_olUdD46V7o-WfxR_DTrkDkjuHPvDf5pPTK6JapWzurB1SEOtsUBh8yzSp6M8Fch6I7PUOoocj1HYEdomTYNY0QEOSgPtB0EJ3EmuIw/medarbejderrekvisition_og_kontrakt.svg);
  }
  
  .widget--icon-vacancy .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97wGrowQWL1TMxAtLoAu9wQadlh0QQxoeMi89Frq8QuEyIOt6vOF8cabX-oddDFbEHP38PqWwVOkn5VZB1XjBImGwXVBF1RTwn4npc1vdPdEtboDH1Hs44ueDUh5T4IT1JK33-6F9JLNDbeiXAHp_acFWNZlQ/stillingsopslag.svg);
  }
  
  /* Tillidsvalgte medarbejderreprænsentanter  */

  .widget--icon-board-members .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94Mpk8B3-VFGQDWp6W_y-Yg4BOwzHkhFOYCjRfO56UpPLaY_g18QJQNm0LaYgdh0wGYmNuP2JqU-a57QwJ0a4TkJer2QcwR5Zs0rz3XQZ0pMRHl-ltbhvWiIvFT6VFJ8xGQAvLViNFoh630X560IigWT5VNbA/tillidsvalgte-medarbejderrepraesentanter.svg);
  }
  
  .widget--icon-board-members-3 .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96-mYjL5HE3s3OwYamCGUHizWlXkf2UyYhLHol5OHEXIH-8pi5GA5sDoET328GFjSzgAOdHAYvSEdfN59i_9HS4vUkhQ1e9M83VZMoTK1bx6gVehVTFplu-y_LhlE5cw4HI2Sz3wteY4l2GnYKqDZcY9OuC8Q/medarbejdervalgte-bestyrelsesmedlemmer.svg);
  }
  
  .widget--icon-board-union .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94347s_0xnTJxFODbL1JxJ8rSThr8lsjm-S-Q126_44whfNGXdSeAW63PF6oSMd9b4iNx44iXcWmz4uQIhNzRmGwjpug21XYBOrj3JOyvjlkrEqJ4vRxtE1JjAvxwCtXXzMuXZNosJCoXaUlXde8VLQqWEi8g/tillidsrepraesentanter.svg);
  }
  
  .widget--icon-board-environment .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96J9l8H8J0pIec8XqVk9fmsGSBlSWUSifzuDPK7YVtIf1mGfyFBU62zOKqRFhGBCd-93K9CR8sVgDA1F3D-2A4oXAMmi5XMHMHQRJrlOteh8xOnNaAPS1xXtf7X3_Lolm1g-9BH3_NQPasyX00b_2MJhruIeg/Arbejdsmiljoudvalg.svg);
  }
  
  /* Security */

  .widget--icon-occupational-injuires .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94gUbRXhO_RRMygfxqdjutCWbWWgfwclt3ThKpoP4My-9-Np6nhLGXm_j6niKpbDgNO1ONUA7dj2S7Sc5Utv1A6GmmJYrVKCje0AaGhhqHsZ1QpCFH-cNTof3nwpkOeK2gistMlrdnt2EapyXOsDOFZfVcX2g/arbejdsskader.svg);
  }
  
  .widget--icon-escape-routes .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94g3y74iMX_rzNVcJVBmXtnLiCMtaDlWQmbLRX_6DLBOCnHtuCsZii3DpYiXc-o0dP4LhOBh9d2U-9NVTL2lDPXKMszxNTG1-bMz7utvzWDKkzFIr8LO5LZFTbENgS9l0_jKnb6Eg_Ec1CzrDH-Eaph3xIryg/flugtveje.svg);
  }
  
  .widget--icon-threat-level .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97Gw9KM6fURuNQGrZO4LDKFnGnF47PAXL4uyPs6uDCFq6O8aVd5qe18Xxf7MK1rrwYhv2IzTy9hjZhByIoqK-PVTQAhGN0i5SWMf_wiI5HtFnxmzphsjU7QCRmlm_XUDS_MY002l0Flyloazd2K7VzoHQhuSA/beredskabsniveauer.svg);
  }
  
  .widget--icon-defibrillators .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95_7VO8Zi7Wmz_yfa1pwlwNCPfN0JhsXBEP2TfYUGsZ8Fvc5JiM3EmwEoWyAv8lLdkGnmaMCp4P1kB3gXO9ud5NuxAVxC_DF0HoU_RYQ_YkW2XTBaCToQgP5aCtD-P3kbwt73Fd4jcakxgCplIkChJKMFN5bw/hjertestartere.svg);
  }
  
  .widget--icon-contingency-plans .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv971Z9g5JDh9sT5bUeado776rAS4JXsaGJ5C5gXHJMNKyhbay_9ZBb9jCia9dzwMSEp8ps-dz0Hipea1CtD0jFt6qFWt5qrjrGvqKlF9E1s58mUAyKdkN4PYI5Yyhsg8N1x6oBvXI4c6GRM5v1GxBqvuyG6YuA/beredskabsplaner.svg);
  }
  
  .widget--icon-it-security .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv961vhEd5C5vpMOSBhIgn3B9Pk4F0tBcfryMAVw6Mob9XSOfl6iII_bXGYd42KcYal_lOIIHodp-fWQTTt8vaWsHv-cWoceryOqZiOvOD6mxHaPM9KVk-QBQKp5v0LYMlwa1ElUcHQm-xwH6qMV9jfZbCiWFZw/it_sikkerhed.svg);
  }
  
  .widget--icon-coronavirus .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv97z6907JUi0q19eFHRh2DiNSlH1ebg9bL8xmrYrN2PYaRamj2nZGN-Ba1l_a2xcLonDy7q1DaNaUaBqnsci-YhJbXu1ueDhrZEGMLcpj53_wHPENiiXgsi_L0nJ916z9fHDGx5QhtCclOYfTLwUEBEKbzZdZw/coronavirus.svg);
  }
  
  /* Security - Contingency plans */

  .widget--icon-fire-employees .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv971ig-JwBznBY5em9hB9NYcRCx4L6UL4uVqg1niZgLWOjKfkyzZZGFCBEhvT_GlTeZLMUQyg3kpt1kL-6Lkihv1pNL7VtbBNeWxLBnAOUbSfL7peRXl2SRFDJR8lwywjRNwiUS7KsTIxHHX3LdSz1KPw_89KQ=s0);
  }
  
  .widget--icon-fire-managers .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94G4kPrElHrbRK16rvmEE_8hZVSemCYK9tA6zy-MlqMgmBhWd-WQDBi8uRiOHIytagx1pLn4UCcjcfHfJZyvpRjOa5TsxmOfvMAQicTYv_5sc0FBcEQ3C1Hz7vLa0U8qDEkMsvU0063dmVhvgpwz1CTDVMo-g=s0);
  }
  
  .widget--icon-terror .ernst-icon {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95mABRHbmucvDsc7e2h8rk_gd6KjDuclW8OpATiPAJvsXq74Lpx29NlcM_ZZAw7bT-vZ_r-VqEt5-fSVpQ4NmHR-1BbxIeI6kVD-55y3bH4P7bpnmcsO7Y8SXCMmzjiA26VD8-_bjQktuYa62K2GsAlfQ6VZA=s0);
  }
  
  .widget--icon-controversial .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv960TNzuQksMQryT_VDleHrNVhiWdWiX0LjymWcjX8pyDuHpOxumY3SP39W0Tdxy8aIwxFlfKysaBXZf-3yvDmOqp9NgkzQAr7tZIfRXAtD10YnmPGsOkeDtHGBgQnk_17tjzVG21irIU6-4IjjAOGN9SPbUDg/noun_news+paper_3391386.svg);
  }
  
  /* Access to systems */

  .widget--logo-app-sproom .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96_YxQcGqZegvVnsL22HvDBixFK2ggSX0ggEd6Eizho5vVNFIHfJDct3PKXurd00d_Ik5TC-CoNv0qS7hVrm9D7DOleOgp_g72iFtDv-n1evhNB9FfplAIxO9Wu8NAHd1BMCriiUNoYxrdHn1gE9DyncNTqbA/sproom.svg);
  }
  
  .widget--logo-app-approveit .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97_E0ibgHSMPmovcwRwleWCyk3mHjmG-Oy0Og3O1-eGq1StbwCGEfK5CpiIXV5oVEI_RdyGwc97uwwhOCiVSGW0uWRKkMmBZqtDHKxQbuv5f8dCNyxzFTOBmKwFbK-S7Ijz4s8GrU-CX8LicdPlHa881ruotA/approveit.svg);
  }
  
  .widget--logo-email-signature .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95dJZN1GEr4G3QXXTq7qdKxCWnSzFo7b0G-yEDWXBBzlyq3saR3orF3dQU6UNE8KFy084TjGAvlOC-29DgD1INR5TMRLpeYw6FCujEPhPOC7RWdzrzbXR79FQXNPjqvNbuqSVwLX4_33Ocu3cRlnQX1f5Un3Q/email_signature.svg);
  }
  
  .widget--logo-app-mindkey .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97ITtWCa98lmWZHnXTZLuqm6q_vl2R_oq7YpN-QqGU_GVQ3gR0ddMr9HE8Ffw7v1OBpU0UlcbQJubXM9HkU4VFfyXOU1N3eWudKw4Usd0p2SIfzU8S_v_rjt4zzEiMfo7bVV6YnuhAM4JVmtah0v1ZCunOBrA/mindkey.svg);
  }
  
  .widget--logo-app-rydoo .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv97KuBWvUAberdWHxhojiJyEHKPFcYxpwwwE-yIBfIVtNTylqA2dQybfjK4n57hrtYHZdr3Ii8w_3XCJWDVhO9OBk_SPa8xXUxZTfLFPW3ihAJzOfutUs2QBlORcAeqKxxtUU1KoQBSHUpHJmHt96mCdPsmq1A/rydoo.svg);
  }
  
  .widget--logo-onestopshop .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv963KDUjNQ9LhtE9ejvXsOom8OlP_K6DEjBqCZe20IqQFn19d6I2cRnkRYqjpcWabzVqQnrulzbWUhCJgBGgUd9_XvQCK5OwxlJlahCN9l4MqZR5aXbpPM5CWwX4zzYq27oqPuu3K25d4tVwVTSV1WmjfFb0cQ/onestopshop.svg);
  }
  
  .widget--logo-app-mindkey-small .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv95rj6bqidPrxutR-YMQaZl52cSAwYI-c7Kx_lcAX9qQ9LS_AR3M-w78rYn5MJlhicDIrO_-wCa_BmT-SN1kRYvoVsMnH-rBDTncJ-4p8IFfEncAAS7GienPLEwy577iBM0so5dUDN5pk2Cq0jRXM2gO3-qSbQ/mindkey-small.svg);
  }
  
  .widget--logo-app-unexus .ernst-logo {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96FbH4Cn7vRrjwBDB60_KYRHpeycpKgpushmIOUb-c35jMkU9UCr1Lnx4Vjghfa7jR0wAMBBdU5sO-Z8v3rT469Jsdlwev9qfjlwWkIr5_UyA5biESMTqrLLxizg6wEKC_aVTBx5qoqzi00mfAZj1jl-kWqew/unexus.svg);
  }
  
  /* ==================================================
  Email signatur
  ================================================== */

  .widget--signatur-berlingske .data-brand {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94jCmoim71USkXbWGYm74ylUrUAlA4S0mgh9lWZWaADjdyXpLBPXp_7mJ42vG3IGJR84WhxOgHPCTChOgkHJ-_sqf5_NejCVHZANpWPJW4JvvKYHGTsyA00y82teMKgqkYvAqEKEM8gYuyoDcZoTNrnQZP4wA/berlingske.svg);
  }
  
  .widget--signatur-bt .data-brand {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95aCk-2zp8PP6NG_ZiPKU0q8-kntYJXMxaOcFwnsTyeFDWEwtQDeVpGJQEuwQr7Pj8-ISH210w2g0HUCrIsWOF6u53OgczwC94nXOFOzfxLkXt38UkH_0CW6cAhCslsGleODUO04meFQUefvN9UwnLAUIKObQ/bt.svg);
  }
  
  .widget--signatur-weekendavisen .data-brand {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96T5tBAA6BnB_NkDr4_7SCcoieuKAzA9COAH_uK3MJk31Ivs8qinzU-wONxliVkveGjwinxbI-mgwAj6lwaAsUUbJxOYZ7O-b-UZLBOeTl3aG-rsK4BueygqUoS_-xJJqF_xQs9ZchdWnGaXYwwZZ6TL9WYwQ/weekendavisen.svg);
  }
  
  .widget--signatur-euroinvestor .data-brand {
    background-image: url(https://sites.lumapps.com/serve/AMIfv977fhZrfbwKkTmmjVsvbh9FJNV5Nlx5VkClXeXSFJ3eaC0IjwVP-w7Wfn4Mu5EwaPtlzWGi6CInfykEhBolfspZyyKxNJ88lID_V-0MJLvkmw_xEtX0lZUKyNcF2_yBCILMexz4ynGroWmOd6D3wl5Rw8fyfw/euroinvestor.svg);
  }
  
  .widget--signatur-brands .data-brand-all {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94C-rwrLhVw2O5e2Ncf-zI_1hUaLBaYcgeBJhxGzXKm2J8D0hvYUjPEJL_448o6Hr0e89Br61GzAMx7RfqXiTR8JVx0Yg6_iNZIVWtIdFzKoXMVgOHLYxuZIAoqJjovBYSpRKWBW3tdyMjfD6F8ddIwTsLcMw/all-brands.svg);
  }
  
  .widget--signatur-bm .data-brand {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96phMHOK-2yUliX_gnMJ7vUB8wl5ge7ZtIj95jXZVnI9BSkGCRbwFEHNNOxUchUXv49n2J-p3PeYuQ5hL_0mZYv7moFTFiKt6TqZDHps4L8NtxPCwHLKNNWdLF-6E6BTUPJHmiyR14jNqqYp0NBBSoL7UP9KQ/berlingske-media.svg);
  }
  
  /* ==================================================
  DigiLab (Courses)
  ================================================== */

  .widget--icon-meeting_room .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95Ln6esvesoVOiV_HD4Vl70lPV-G1ChZXIHyf_voYmTGeHKV5dU_qv60aHCuxsP_dJPTUNp2Cs9Vnk5fbLPq3h3t_tyuRcFmp2xR9N6Z-kU4xnKwE1eGTqGhjqp3H_1ZDjbt25_LiX1l6Ekt2zbZWKSk6-kgg/meeting_room-24px.svg);
  }
  
  .widget--icon-date_range .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94j0Im3Wcom4Pr9hPBmrPV0iUQMTxmTHozZgYTmPyp9VGqGoWYtDKVT1DcMumJofiT1pe7Ll56q7ZFso9zjd0yHbnbeGnO0X2eYi13iYMcFJc2oZM6bKGg1mnKue-wFrOoMApc8JIGQsLmjQQZWfNmaXgAQEw/date_range-24px.svg);
  }
  
  .widget--icon-teacher .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96P_kwBypt4WsF7HOEA6yawGurlFSEVuaatErOjbDay_vmkWEqDvkUyGcSM6DxyIM4gDVXWN4osm-zOsJAiVIrsq7cMu8tK1QU6o_bvSb_kh2vlLtB3AoIT-WnrrD3ra4r_QUMsSXoE2PWy8MJEzv1cPZuCjQ/face-24px.svg);
  }
  
  .widget--icon-students .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95GRr374G9N3dLF6i4Qa69VTLs0fQabbgV6N75wYluVpA0h8rG_-teFYYEZrHiCpqXlRr_VMNPWyyDB14szFDJVF4B38eiZbDcCbGugQs2P7hBH60NHQ_yyAP0d03wR-vauxXkK711CH432PQY6CTApvYBLYw/people-24px.svg);
  }
  
  .widget--icon-deadline .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94wZM_H05FvrH7m9TNyRJoBlau6B4lK13jHwPkDMhcl0H9RtYveVleamMJ8n_p4hIF_C8D7I5QEwZxrnl_bblKCbQ7J_1nxOqFfPkN2orDQQIdfV40hicdGQYWLt5zcFBOD8b5UjS7JhIFRH-s5-JerU_ljwQ/deadline.svg);
  }
  
  /* ==================================================
  Medarbejderfordele og tilbud
  ================================================== */

  .widget--icon-medarbejderannoncering .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv956UQxxRl_qYUFSr2unP2NQuxpCCs-AJ_rWuHE-yc-Be1FQ_D7yjk0wCiSPaLY5uEd7g-DyUJFMBiSQIhfvxDuYzrOkuWYPDkcab1OCznN5hQrsWoa8as3cEZy0kpiNT5Gqd7W1njRIo1W-stpdjuci62roZQ/billboard.svg);
  }
  
  .widget--icon-sociale-arrangementer .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96iGsgAyRwznloldl-KWKOMobpKKhU0xAv36YVQApT9B0-Q1JJT8dUWjddyQsNX5Xhm-ChuvH-CqLHdfJwhWe1AjtRq8gE0uWpOlKDVR_gdxFxgHa6JNbjrOqWbiORbi-Wn2_SDbaL5jE8KOYs_Fr_MuboSyg/social.svg);
  }
  
  .widget--icon-bruttolonsaftaler .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96sOXzXePMZMSIwlbRMqnRnbS9uhhJjdhlPNzrQha3pSeSsOz9s_vThljV-3AB5vQaepbP4pstkyPxEtHSzk2uCpWkxo0x3bw5iTunTEz8lK76d4jSNa1h44XfrgeafKrhe-yFDK1iZXEVXoT1MXhLyIHFUbg/money.svg);
  }
  
  .widget--icon-location .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv947GOEHqHEaEcyet654yybqq_vO-Jy3sGE6whZ-CUG6qNrRGcqBJ8tdfoEF2a7_i1eGlfVle4e1cRYiDy8sFKzinj1ZqMQCzaDYAKlrWcsiUALwcuFik7vUMuTO2aiRCAewOu3N9xJYL80RpUmrmzavbAKshQ/explore-24px.svg);
  }
  
  .widget--icon-offer .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95HO2yvTkFmdDpb-rhwvEFLQG6fMKCLts0wa66xlI48ZMEog9eGHPiiMfoM7jLPHEvVYpKLd0zM9rij752flcKdZ8a3nJfQ3CzPhJFUJctfITryX-Ey49lFIHMS34Vjsh-BFxB7pFuD0nbfypb_ieBjjP_6QQ/local_offer-24px.svg);
  }
  
  .widget--icon-action .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96GsLY5yDOqmIAK6yW5Z4ttwT6A4Wcl-6nNgbS46vKpusi2OwyQpafffP3eKuPUUkD2TFGywePKMrSRF7sbT9XZQtjDv9FH0s1ehihBP4bXrHCb7gbnIwTT2yEpjEF6j4MOXGYmNq7s1rBOqLnnP3GsNnlFcw/assignment_ind-24px.svg);
  }
  
  .widget--icon-expiration .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95yjujl-J3hkY9OWis7NAr8J0T_DhZFmIQvxRDe6Es2LUIJ92hsxgSWRKAJLYgfGj7xnybSEXgcmU6L-Ku1Wn0T_BfL7_kOpGgboFPV8F2M31swUlVdCYywBuYTzokmQKd-lJIC5DmePAszfAkg7JfBYTn5rA/alarm-24px.svg);
  }
  
  .widget--icon-event .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95yhwHZbchp-vI_1XKmlkRsiQySma1iym6Q5eNncMiF709SgFZhtF1jQrLaU4mcfyKgxZlrXcncUhkenTrD_IpZ1md8bykVCqxznRYbkAlbzRgO9c30sOspomC1S-2QTippPryQWcWnaOmdUdHOLDOeVVVJcw/event.svg);
  }
  
  .widget--icon-parkering .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv952O0Nh5qPir0_IBUUXeUo7ra2qg53i-Nw0iarn6ejuebvgVIrx0zuuDfk2Kc0Vp2BPK-Ym4MFSRaW_lZIn16CXKsvb7zvHR-bnPULUz8CIeDuEzk-boBtEbWpXUCldF14Dp8vhc14FvzDo8kGyMS7ybhPrPQ/parkering.svg);
  }
  
  .widget--icon-erhvervskort .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95yhh_oeUTVFymsC_LYmOnIc2Fm95mgCPCtRJc8TYo5HpHp14u8Zj8yMDoWehKEwpyL5OO_LtpS95AGCKKPzGGm6RzD63cer4z2db93rm9NKyAh1r6FKjyHwUe8DVsrSbS3HQInGSWCuHxfEVZ7zPJb99bZJg/erhvervskort.svg);
  }
  
  /* ==================================================
  Brands
  ================================================== */

  /* 359x193 */
  .widget--brand-359x193-euroinvestor .ernst-brand {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv94x4-LFFsBhs42RnuXCFjqNT4rg6VdWaosQa9bnhtyyhQB2oH1Z_PQrD7eJ0bQYUoDxJ--P1Z8R4ham57Skzpi_aDJm051MdplUcTnYx9ySZ_6KrHQoQKUa5kRusBo7XIEl2OvU7iGZ1YxToJnVy_EPwYkv3A/euroinvestor.svg);
  }
  
  .widget--brand-359x193-radio24syv .ernst-brand {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv96TnU6LylCiuSZFt0pYgjzal5sAfAXHofpwtMPa2yZ_L-h0w03T-RAk2EMElENx1gXXQdYyynDVaUa9dViR08n5PcfeydTN7LkfXRzXSaVLOb4P-Rs7u4URiVnLT4SZnHdxM1DGem-2BmKyMIiVzJ-Nq1ZNvg/radio24syv.svg);
  }
  
  .widget--brand-359x193-bt .ernst-brand {
    background-image: url(https://live.lumappsusercontent.com/serve/AMIfv9449B-OTqO2N4xNT5zcy6KlOC3IUNh1C4hv6dVftvQx464jQ0l0Jyj4-jGXc3x3itgrgXZnlimDm1LvDOQtT640SmcQ0vF4krwPywQFRNi4S3deP4D7zIRbCmEld0bxwewVdsp1MRnXU7cR2TZSzlLN_NOU7Q/bt.svg);
  }
  
  .widget--brand-359x193-berlingske .ernst-brand {
    background-image: url(https://sites.lumapps.com/serve/AMIfv95KcgTm3nEzLMzOX5fJG_zPkRkqb6b0yhWZ5UlYkUYCfRpGZRF6DNeZtkGw77AiuicK3SweaWnfKIReJWc7izw0w_bbBN92hmIlxWuJjSCo8jvPXZM1-VV4KM-ZNI1ZIxfL83rZ4wAwfcCBgxSkKlysDTkpzA/berlingske.svg);
  }
  
  .widget--brand-359x193-weekendavisen .ernst-brand {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94PTTWW77jIS1M5D9Ha1UuDBUql7L88v70Si1GIskGRPJ_lmdog_VSd4DaSF2m6wEeLeI22Byb3-B9HRDofCcUUjwCTJvv0NzxLESwLX5txQaopFV_ZIiGX_6RcSQn-oh0rr8am7Q164jL3goS0nruXyGqV3w/wea-logo.svg);
  }
  
  .widget--brand-359x193-berlingske-media .ernst-brand {
    background-image: url(https://sites.lumapps.com/serve/AMIfv96tH8r9Ipmfr7eaQtX8ujUZDZsKDoMnUOAd8a2F11KAAgmOd4qImm_8v9RjMtxUYL1PMpcgljrvI7IYUMhtHG6m58N4tU7Gj_2-nB89WmGxKOx3K2TWqppkTuBnN8JgDrhB8Tv-gg2H7upi2_Q7UcBubUT7pw/BM.svg);
  }
  
  /* ==================================================
  Om Ernst
  ================================================== */

  .widget--news-edit .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94eesuzK3yE6Z8E2lHfx5Qo_GZtQBuIqgSFRQnS6qw1r0DDxfeJlPcKdcvQVT9mIT92tjE6sR5tacM4Zcfxu8n9fyn65r0zyZRrg4on8cDEnqzR2ZXE4wSeMENEOyx3Xy14e6Ga-xs6QMx1Rry0MjPHDIsGuA/news_edit.svg);
  }
  
  .widget--page-edit .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv97vw_a3bUu0hRMDPVgJzHt7lSdlXjbcPbTx-NckoLxWPiWNmVB1ydEb787L3do6CymnMIT5CPq6VH8BRrgWLCjwcS62yBIcEZVajs3tQVfprGaEOCpTP7YpiHnB9lJN76hlOKzuPrDdt-PNhB7hoFruBz5rdg/page_edit.svg);
  }
  
  /* ==================================================
  Kundeunivers
  ================================================== */

  .widget--kundeindsigter-analysis .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94p8FS4LyRlmohZ0urm6Yl7jOU6Lrr2oP6xuAgcZfLomtJx4klu9ZzLTscY9Q2AQFBzk7MRsUxfGYzwFsEOzlknVUVrt3kP2bsllqK7eLs3R0_elnugZVLYePr2JhC0OXojy64jSGJJIbOpHYJkQMubAvil-w/analysis.svg);
  }
  
  .widget--kundeindsigter-podcast .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv971Xwq4rgCL339PfqgBmaZ7sNTL8qW6WkWzy-NO1vjrUTH7gVtehdCPlxcvAWthJJE-o01c3IrAn4qC-OLKmaHo3mFPJo4ZKFE1UPZPIZtckAsle8yf0Feke_-eLSfKmhD6vwGJL7HjZ1GUqm_PyT7YgTeu3Q/podcast.svg);
  }
  
  .widget--kundeindsigter-graph .ernst-icon {
    background-image: url(https://sites.lumapps.com/serve/AMIfv94ULULh0yVRq37jnsETVo7sjxJQBW5BK12cZmG2JlL-eXOp3KjJdHmAWJSPWcSl9ajhqnCBrRF65OSzA40hh6P90sjVE5Ba2V-ZfLYHikVb_0r3IjAl977cCoNrOsPz2VFBrUiQG3OjuIOpViLO3M_cXSHVjQ/graph.svg);
  }
  /*# sourceMappingURL=style.css.map */
  